<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Perfil do Hotel</title>
  <link rel="stylesheet" href="/static/estilos/estilo_perfil_adm.css">
</head>
<body>
  <header class="topo">
    <h1>Perfil do Hotel</h1>
    <!--Início das opções do canto-->
  </header>
  <div class="opcoes" onclick="toggleSidebar()">☰</div>

 <script defer>
    function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      const overlay = document.getElementById("overlay");
      sidebar.classList.toggle("active");
      overlay.classList.toggle("active");
    }
  </script>
</head>
<body>

  <div class="opcoes" onclick="toggleSidebar()">☰</div>

  <!-- Menu lateral com as opções -->
  <aside id="sidebar" class="sidebar">
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/quem_somos">Quem Somos</a></li>
        <li><a href="/">Quartos</a></li>
        <li><a href="/pontos">Pontos turísticos</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/templates/projeto.html">Projeto</a></li>
      </ul>
    </nav>
  </aside>
   <!-- Fundo escurecido -->
  <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>
  <!--Fim das opções do canto-->
  <main class="container">
    <section class="card-perfil">
      <div class="foto-perfil">
        
          <img src="{{ url_for('static', filename=hotel.foto) }}" alt="Foto Hotel">
        
      
      </div>
      <!--Aqui deve-se integrar com o banco de dados-->
      <h2>{{session['hotel']['nome']}}</h2>
      <p class="email">Email: {{session['hotel']['email']}}</p>
      <p class="cnpj">CNPJ: {{session['hotel']['cnpj']}}</p>
      <!--Aqui deve-se integrar com o banco de dados-->

      <a href="/editar_perfil_hotel" class="botao-editar">Editar Perfil</a>
      <a href="/sair" class="botao-excluir">Fazer Logout</a>
    </section>
    <div class="popup-reserva">
  <p><strong>Deseja adicionar um novo quarto?</strong></p>
  <a href="{{ url_for('quarto.salvar_quarto') }}" class="btn-reserva">Adicionar Quarto</a>
</div>
  </main> 
  <h2 style="text-align: center;">MINHAS RESERVAS</h2>
  <table border="1" cellpadding="8" cellspacing="0" style="text-align: center;">
    <thead>
      <tr>
        <th colspan="3">Reserva</th>
        <th colspan="2">Quarto</th>
        <th colspan="2">Usuário</th>
      </tr>
      <tr>
        <th>ID</th>
        <th>ID Quarto</th>
        <th>Tempo de Estadia</th>

        <th>Andar</th>
        <th>Número</th>

        <th>Nome</th>
        <th>CPF</th>

      </tr>
    </thead>
    <tbody>
      {% if reservas %}
        {% for item in reservas %}
          <tr>
            <td>{{ item.reserva.id_reserva }}</td>
            <td>{{ item.reserva.id_quarto }}</td>
            <td>Dia {{ item.checkin}}<br>até {{item.checkout}}</td>
            

            <td>{{ item.quarto.andar }}</td>
            <td>{{ item.quarto.numero_quarto }}</td>

            <td>{{ item.usuario_da_reserva.nome}}</td>
            <td>{{ item.usuario_da_reserva.cpf }}</td>
            <td>
              <form action="/cancelar_reserva" method="post">
                <input type="hidden" name="id_reserva" value="{{ item.reserva.id_reserva }}">
                <button type="submit" class="botao-cancelar">Cancelar</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="11" style="text-align: center;">Nenhuma reserva encontrada.</td>
        </tr>
      {% endif %}
    </tbody>
    </table>
</body>
</html>