<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteis</title>
    <link rel="stylesheet" href="/static/estilos/busca.css">

    <script defer>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            const overlay = document.getElementById("overlay");
            sidebar.classList.toggle("active");
            overlay.classList.toggle("active");
        }
    </script>
</head>

<body>
    <header>
        <div id="menu-e-logo">
            <img
          src="{{ url_for('static', filename='Dream_tour_logo.png') }}"
          alt="Logo">
            <div class="opcoes" onclick="toggleSidebar()">☰</div>

            <!-- Ícone do usuário -->
            <a href={{endereco}}>
                <div class="icone-usuario">
                    <img src={{icone}} alt="Usuário" id="usuario-icon" />
                </div>
            </a>
        </div>
    </header>

    <!-- Menu lateral -->
    <aside id="sidebar" class="sidebar">
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/quem_somos">Quem Somos</a></li>
                <li><a href="/">Quartos</a></li>
                <li><a href="/pontos">Pontos turísticos</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/templates/projeto.html">Projeto</a></li>
            </ul>
        </nav>
    </aside>

    {% if resultado %}
    <h1>Resultados da busca por "{{ termo }}"</h1>
    <!-- Barra de pesquisa -->
    <form method="get" action="/buscar" class="search-form">
        <input type="text" name="q" placeholder="Digite o nome do hotel" value="{{ termo }}">
        <input type="hidden" name="tipo" value="{{ tipo }}">
        <button type="submit">Buscar</button>
    </form>
    <div class="hotel-list">
        {% for res in resultado %}
        <div class="hotel-item">
            {% if tipo == 'hotel' %}
        <a href="{{url_for('hotel.pagina_hotel', id_hotel=res.id_hotel)}}">
                <img src="{{ url_for('static', filename=res.foto) }}" alt="{{ res.nome }}" class="hotel-imagem">
                <h2>{{ res.nome }}</h2>
            </a>
        </div>
        {% else %}
        <div class="hotel-item">
            <!-- <img src="{{ res.foto }}" alt="{{ res.nome }}" class="ponto-imagem"> -->
            <h2>{{ res.nome }}</h2>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <h1>Nenhum resultado encontrado para "{{ termo }}"</h1>
    <!-- Barra de pesquisa -->
    <form method="get" action="/buscar">
        <input type="text" name="q" placeholder="Digite o nome do hotel" value="{{ termo }}">
        <button type="submit">Buscar</button>
    </form>
    {% endif %}
</body>
<script src="/static/scripts/index.js"></script>

</html>