<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="/static/estilos/perfil_dados.css">
</head>
<body>
  <header class="topo">
    <h1>Perfil do Usuário</h1>
  </header>
  <div class="opcoes" onclick="toggleSidebar()">☰</div>

 <script defer>
    function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      const overlay = document.getElementById("overlay");
      sidebar.classList.toggle("active");
      overlay.classList.toggle("active");
    }
  </script>
</head>
<body>
<!--Início das opções do canto-->
  <div class="opcoes" onclick="toggleSidebar()">☰</div>

  <!-- Menu lateral com as opções -->
  <aside id="sidebar" class="sidebar">
    <nav>
      <ul>
        <li><a href="/templates/index.html">Início</a></li>
        <li><a href="/templates/quem_somos.html">Quem Somos</a></li>
        <li><a href="/templates/index.html">Quartos</a></li>
        <li><a href="/templates/pontos.html">Pontos turísticos</a></li>
      </ul>
    </nav>
  </aside>
   <!-- Fundo escurecido -->
  <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>
  <main class="container">
    <!--Fim das opções do canto-->
    <section class="card-perfil">
      <img src="/static/imagens/user.png" alt="Foto do usuário" class="foto-perfil">
      <!--Aqui deve-se integrar com o banco de dados-->
      <h2>{{nome_banco}}Maria José de Souza</h2>
      <p class="email">{{email_banco}}email@gmail.com</p>
      <p class="cpf">{{cpf_banco}}CPF: 000.000.000-00</p>
      <!--Aqui deve-se integrar com o banco de dados-->

      <a href="#" class="botao-editar">Editar Perfil</a>
    </section>
  </main>
  
</body>
</html>