<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Adicionar Reserva</title>
  <link rel="stylesheet" href="/static/estilos/reservas.css"> 
</head>
<body>

  <div class="tela-reserva">
    <form class="form-reserva" action="/salvar_reserva" method="post" enctype="multipart/form-data">
      <h2>Adicionar Quarto</h2>
        <!--###Falta integrar com Flask###-->
      <form action="/quartos" method="post">
      <label for="mes_disponivel">Mês Disponivel:</label>
      <input type="text" id="mes_disponivel" name="mes_disponivel" placeholder="Ex: Maio">

      <label for="imagem">Imagem do Quarto:</label>
      <input type="file" id="imagem" name="imagem">

      <label for="andar">Número do Andar:</label>
      <input type="number" id="andar" name="andar">

      <label for="numero_quarto">Número do Quarto:</label>
      <input type="number" id="numero_quarto" name="numero_quarto">

      <label for="preco">Preço (R$):</label>
      <input type="number" step="0.01" id="preco" name="preco">

      <label for="imagem">Imagem:</label>
      <input type="image" id="imagem" name="imagem"></form>
      <!--###Falta integrar com Flask###-->

      <button type="submit">Salvar Quarto</button>
    </form>
  </div>

</body>
</html><!--teste-->
</html>

