<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quarto hotel</title>
    <link rel="stylesheet" href="/static/estilos/estilo_quarto_hotel.css">
</head>
<body>
  <!-- Cabeçalho -->
  <header>
    <div id="menu-e-logo">
        <!-- Logo da empresa -->
        <img src="" alt="" id="logo">
      
      <!-- Botão do menu lateral -->
      <div class="opcoes" onclick="toggleSidebar()">☰</div>
      
      <!-- Ícone do usuário -->
      <a href="{{endereco}}">
        <div class="icone-usuario">
          <img src="{{icone}}" id="usuario-icon" alt="Usuário" />
        </div>
      </a>
    </div>
  </header>
  <!-- ##Aqui mostrará um pouco do hotel## -->
<section class="sobre_quarto">
  <img src="/" alt="Ver q imagem pode ficar aqui">
    <div class="extras"> 
      <img src="{{ url_for('static', filename=hotel.foto) }}">
      
    </div>
     <!-- ##Aqui mostrará um pouco do hotel## -->
</section>
<section class="detalhes-quarto">
  <div class="info-quarto">
    <h2>Nome quarto</h2>
    <p class="valor-quarto">Diária: valor da diária aq</p>
    <h3>Descrição do quarto</h3>
  </div>

  <div class="galeria-quarto">
    <h3>Fotos do Quarto</h3>
    <div class="fotos-quarto">
      <!--Fotos do quarto aq-->
      <img src="/" alt="1º foto do quarto">
      <img src="/" alt="2º foto do quarto">
      <img src="/" alt="3º foto do quarto">
      <img src="/" alt="4º foto do quarto">
      <img src="/" alt="5º foto do quarto">
      <!--Fotos do quarto aq-->
    </div>
  </div>

  <div class="disponibilidade-quarto">
    <h3>Escolha as datas</h3>
    <label for="checkin">Check-in:</label>
    <input type="date" id="checkin" name="checkin">

    <label for="checkout">Check-out:</label>
    <input type="date" id="checkout" name="checkout">
  </div>
</section>

  <!-- Menu lateral -->
  <aside id="sidebar" class="sidebar">
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/quem_somos">Quem Somos</a></li>
        <li><a href="/">Quartos</a></li>
        <li><a href="/pontos">Pontos turísticos</a></li>
        <li><a href="/templates/contato.html">Contato</a></li>
        <li><a href="/templates/projeto.html">Projeto</a></li>
      </ul>
    </nav>
  </aside>
    </div>
            <button  type="submit" class="btn_editar">Reservar quarto!</button>  
           </form>

  <!-- Fundo escurecido para o menu -->
  <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>
   <footer class="rodape">
    <h2>Contato da equipe</h2>
    <p>cleverson.moura11@aluno.ifce.edu.br</p>
    <p>oliveira.mario09@aluno.ifce.edu.br</p>
    <p>iruan.moura63@aluno.ifce.edu.br</p>
    <p>carla.mariana08@aluno.ifce.edu.br</p>
    <p>gustavo.lemos08@aluno.ifce.edu.br</p>
  </footer>

 <!-- Scripts -->
  <script>
    function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      const overlay = document.getElementById("overlay");
      sidebar.classList.toggle("active");
      overlay.classList.toggle("active");
    }
  </script>
  <script src="/static/scripts/index.js"></script>
</body>
</html>